.spacer{
    flex: 1 1 0;
}
.form-card{
     padding: 20px;
}

.form-field{
    width: 300px;
}

.forgot-btn button{
    background: rgb(209, 209, 21);
    color:white;
}

.btn-div{
    display: flex;
}

.verify-otp-btn{
    margin-left: 10px;
}