 <section>
    <!-- main container -->
<div class="container">

    <!-- card which is holding registration form -->
     <mat-card class = "myCard">
 
         <!-- defining signing form -->
     <form [formGroup] = "updateUserForm" (ngSubmit) = "onSubmit()">
 
         <!-- defining field to upload image -->
       <div class="mb-3 text-center">
         <img width="120" height="120" class="margin-top mat-elevation-z1"
         [src]="url" alt = "profile"/>
     </div> 
     <!-- <input #inputField hidden type="file" (change)="onFileSelect($event)" /> -->
     <div class = "select-pic-icon">
     <mat-icon (click)="inputField.click()" id="icon">add_a_photo</mat-icon>
     <input #inputField hidden type="file" (change)="onFileSelect($event)" formControlName="profileImage" />
    </div>
     <!-- defining field to add full name -->
     <mat-form-field class = "formField">
      <input type="text" formControlName = "fullName" name="fullName" [(ngModel)] = "users.fullName" matInput placeholder="Your Name">
      <mat-error *ngIf = "fullName?.errors?.['required']">
         Name Can't Be Blanked
       </mat-error>
     </mat-form-field>
 
     <!-- defining field to add email -->
      <mat-form-field class = "formField">
      <input type="text" formControlName = "email" name = "email" [(ngModel)] = "users.email" matInput placeholder="Your Email Id">
      <mat-error *ngIf = "email?.errors?.['required']">
         Email Can't Be Blank
         </mat-error>
     </mat-form-field>
     <div>
         <mat-error *ngIf = "email?.errors?.['pattern']">
          Please Provide Your Valid Email Id
         </mat-error>
         </div>
 
      <!-- defining field to add contact number    -->
     <mat-form-field class = "formField">
         <input type="number" formControlName = "contactNo" name = "contactNo" [(ngModel)] = "users.contactNo" matInput placeholder="Your Contact No">
         <mat-error *ngIf = "contactNo?.errors?.['required']">
            Contact No Can't Be Blank
            </mat-error>
        </mat-form-field>
        <div>
         <mat-error *ngIf = "contactNo?.errors?.['pattern']">
            Please provide Valid Contact Number contains 10 digits starting with 7/8/9
         </mat-error>
         </div>
       <!-- button to submit and reset sign in form    -->
     <div class = "text-center">
      <button mat-raised-button color = "primary" type="submit" [disabled]="!updateUserForm.valid">Update !!</button>
      <button mat-raised-button mat-dialog-close color = "accent" class = "resetBtn" type="reset">Reset</button>
     </div>
 </form>
 </mat-card>
 </div>
 
 
 </section>
