<section>
    <!-- card which is holding login form -->
<mat-card class = "myCard">
    <h1 class = "h1">Update Password!!</h1>
 
    <!-- form for login -->
      <form [formGroup] = "updatePasswordForm" (ngSubmit) = "onSubmit()">
 
       <!-- field for email -->
         <mat-form-field class = "formField">
             <input type="password" formControlName = "password"
              name = "password" matInput placeholder="Your New Password">
             <mat-error *ngIf = "password?.errors?.['required']">
                  Please Provide Your New Password
               </mat-error> 
           </mat-form-field>
           <div>
            <mat-error *ngIf = "password?.errors?.['pattern']">
                Password Should Have min 5 letter password,
                 with atlease a symbol a upper and lower case letters and a number 
            </mat-error>
            </div>
 
           <!-- field for password -->
            <mat-form-field class = "formField">
             <input type="password" matInput formControlName = "confirmPassword" name = "confirmPassword" placeholder="Your Confirm Password">
              <mat-error *ngIf = "password?.errors?.['required']">
               Please Confirm Your Password
               </mat-error> 
           </mat-form-field>
           <div>
            <mat-error *ngIf = "updatePasswordForm?.errors?.['mustMatch']===true">
                password and confirm password should match
            </mat-error>
            </div>
            <!-- login and reset button -->
            <div class = "text-center">
             <button mat-raised-button color = "primary" type="submit" [disabled]="!updatePasswordForm.valid">Update !!</button>
             <button mat-raised-button color = "accent" class = "resetBtn" type="reset">Reset</button>
            </div>
      </form> 
    </mat-card>

</section>