<section>
    <!-- card which is holding login form -->
<mat-card class = "myCard">
    <h1 class = "h1">Forgot Password?</h1>
       <!-- field for email -->
       <mat-form-field class = "form-field">
        <input type="email" matInput placeholder="Enter Email Id" #email>
           </mat-form-field>
 
           <!-- field for password -->
           <mat-form-field class = "form-field">
            <input type="number" matInput placeholder="Provide OTP" (input) = "enterOtp(otp.value)" [disabled] = "!otp1" #otp>
           </mat-form-field>
 
           <div class = "btn-div">
            <div class = "forgot-btn">
                <button mat-raised-button (click) = "generateOtp(email.value)">Send Otp</button>
            </div>
            <div class = "verify-otp-btn">
               <button routerLink="/update-password/{{email.value}}" 
               [disabled] = "!otp2" mat-raised-button color = "accent">Verify</button>
            </div>
            </div>
    </mat-card>
</section>