:host.XSmall section{
   width: 100%;
   margin: auto;
   padding: auto;
}

:host.XSmall .myCard{
   width: 90%;
   margin: 120px auto 30px auto;
   height: 80%;
   padding: auto;
}

:host.XSmall .form-field{
   width: 100%;
   margin: 0;
   padding: 0;
}

:host.small section{
   width: 100%;
   margin: auto;
   padding: auto;
}

:host.small .myCard{
   width: 90%;
   margin: 120px auto 30px auto;
   height: 80%;
   padding: auto;
}

:host.small .form-field{
   width: 100%;
   margin: 0;
   padding: 0;
}



section{
    height: 100%;
    margin: 150px;
}
.myCard{
    padding: 20px;
    width: 400px;
    margin: auto;
}

.form-field{
   width: 300px;
}

.forgot-btn button{
   background: rgb(209, 209, 21);
   color:white;
   z-index: 0;
}

.btn-div{
   display: flex;
}

.verify-otp-btn{
   margin-left: 10px;
}

.verify-otp-btn button{
   z-index: 0;
}